---
apiVersion: v1
kind: Namespace
metadata:
  name: httpd
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: httpd
  namespace: httpd
spec:
  selector:
    matchLabels:
      app: httpd
  template:
    metadata:
      labels:
        app: httpd
    spec:
      containers:
        - name: httpd
          image: registry.redhat.io/ubi10/httpd-24:latest
---
apiVersion: v1
kind: Service
metadata:
  name: example
  namespace: httpd
spec:
  selector:
    app: httpd
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: example
  namespace: httpd
spec:
  subdomain: windguard-dashboard
  to:
    kind: Service
    name: example
  port:
    targetPort: 8080
