openshift-gitops-repository.yml

.vscode/
windguard-demo-build/microshift-build/pull-secret
windguard-demo-build/microshift-build/auth.json
windguard-demo-build/microshift-build/output/**
dataset/
apps-description.md